<div class="col-md-4 offset-md-3">
    <br>
    <div class="mb-3">
        <label class="form-label">Nickname</label>
        <input type="email" [(ngModel)]="loginForm.nickname" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" [(ngModel)]="loginForm.password" class="form-control">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input">
      <label class="form-check-label">Remember me</label>
    </div>
    <app-form-response [message]="fResponse.message" [error]="fResponse.error"></app-form-response>
    <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
</div>
